<server description="csc480">

    <featureManager>
        <feature>microProfile-4.1</feature>
        <feature>jaxrs-2.1</feature>
        <feature>cdi-2.0</feature>
        <feature>mpConfig-2.0</feature>
    </featureManager>

    <variable name="default.http.port" defaultValue="9080"/>
    <variable name="default.https.port" defaultValue="9443"/>
    <variable name="app.context.root" defaultValue="/"/>

    <httpEndpoint
            host="*"
            httpPort="${default.http.port}"
            httpsPort="${default.https.port}"
            id="defaultHttpEndpoint"
    />

    <webApplication contextRoot="/" location="openliberty-demo.war"/>
    
    <cors domain="/"
          allowedOrigins="*"
          allowedMethods="GET, POST, DELETE, PUT"
          allowCredentials="true"
          exposeHeaders="MyHeader"
    />
</server>
