<server description="csc480">

    <featureManager>
        <feature>microProfile-4.1</feature>
        <feature>jaxrs-2.1</feature>
        <feature>cdi-2.0</feature>
        <feature>mpConfig-2.0</feature>
        <feature>socialLogin-1.0</feature>
        <feature>appSecurity-2.0</feature>
    </featureManager>

    <!-- To access this server from a remote client add a host attribute to the following element, e.g. host="*" -->
    <httpEndpoint id="defaultHttpEndpoint"
                  httpPort="${default.http.port}"
                  httpsPort="${default.https.port}"
    />
    
    <variable name="default.http.port" defaultValue="9080"/>
    <variable name="default.https.port" defaultValue="9443"/>
    <variable name="app.context.root" defaultValue="/"/>


    <httpEndpoint
            host="*"
            httpPort="${default.http.port}"
            httpsPort="${default.https.port}"
            id="defaultHttpEndpoint"
    />
    <!-- Google Oauth -->
    <googleLogin clientId="google_client_id" clientSecret="google_client_secret" /> <!-- change this later -->

    <!-- protected apps need to have a security constraint defined -->
    <application type="war" id="YOURID" name="YOURFILENAME" location="YOUFILE.war">
        <application-bnd>
            <security-role name="YOURROLE">
                <special-subject type="ALL_AUTHENTICATED_USERS" />
            </security-role>
        </application-bnd>
    </application>

    <webApplication contextRoot="/" location="openliberty-demo.war"/>
    
    <cors domain="/"
          allowedOrigins="*"
          allowedMethods="GET, POST, DELETE, PUT"
          allowCredentials="true"
          exposeHeaders="MyHeader"
    />
</server>